html{
    font-size: 0.16rem;
}
.container{
    width: 7.5rem;
    height: 100%;
}
.header_container{
    height: 2.02rem;
    position: relative;
    z-index: 9999;
    background: #ffffff;
}
.header{
    position: relative;
    width: 7.34rem;
    height:1.2rem;
    padding-left:0.16rem;
    display: flex;
}
.header_search{
    width:6.92rem;
    height: 0.84rem;
    margin-top:.32rem;
    text-align: center;
    background-color: #f3f3f3;
    border-width: 0;
    appearance:none;
    outline:0 none;
}
.cancel{
    font-size: 0.40rem;
    padding-top: 0.7rem;
    padding-left: 0.25rem;
    color: #3cd27c;
    display: none;
}
.icon_search{
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    top: 0.80rem;
    left: 2.2rem;
}
.icon_cancel{
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    top: .80rem;
    left: 5.2rem;
    display: none;
}
.header_title-container{
    margin-bottom:.2rem;
}
.header_title{
    margin-top: .3rem;
    font-size:.32rem;
    margin-left:0.32rem;
}
.triangle-down{
    width: 0;
    height: 0;
    border-left: 0.15rem solid transparent;
    border-right: .15rem solid transparent;
    border-top: .15rem solid black;
    position: absolute;
    left: 1.9rem;
    top: 1.6rem;
}
.triangle-up{
    width: 0;
    height: 0;
    border-left: 0.15rem solid transparent;
    border-right: .15rem solid transparent;
    border-bottom: .15rem solid black;
    position: absolute;
    left: 1.9rem;
    top: 1.6rem;
}
.more_position{
    display: none;
    position: absolute;
    top: 2.03rem;
    z-index: 9999;
    background: #ffffff;
}
.more_position_item{
    width: 7.18rem;
    height: 0.96rem;
    font-size: .32rem;
    border-bottom: 1px solid #d8d8d8;
    list-style: none;
    padding-left: 0.32rem;
    vertical-align: middle;
}
.more_position_item > p{
    padding-top:0.2rem;
}
.more_position_item > p:hover{
    color: #9571e9;
}
.border{
    border :1px solid #d8d8d8;
}
.position_container{
    width: 7.5rem;
    height: 5rem;
}
.position_item{
    position: relative;
    height: 1.38rem;
}
.position_item_a{
    color: #000;
    display: block;
    height: 1.38rem;
    text-decoration: none;
}
.item_title{
    font-size:0.32rem;
    position: absolute;
    top: .1rem;
    left:0.32rem;
}
.item_intro{
    font-size:0.24rem;
    color: #c9c9c9;
    margin-left:0.32rem;
    margin-top:-0.01rem;

}
.item_q,.item_addr,.item_y{
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.1rem;
    vertical-align: text-bottom;
}
.triangle-right{
    width: 0;
    height: 0;
    border-top: 0.15rem solid transparent;
    border-left: 0.15rem solid #dfdfdf;
    border-bottom: 0.15rem solid transparent;
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
}
.position_container .no_more{
    font-size: 0.32rem;
    color: #c9c9c9;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: none;
}
.model{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(0, 0, 0);
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: none;
}


